body{
	background: #191919;
}

.row{
	max-width: 100.0rem;
}

.column, .columns {
    padding-left: 0rem;
    padding-right: 0rem;
}

h1{
	color: #FFF056;
	font-family: 'Lato';
}

.screeninfo{
	margin-bottom: 0;
}