
@font-face {
  font-family: 'LatoRegular';
  src: url('../_fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IndieFlower';
  src: url('../_fonts/IndieFlower.ttf') format('truetype');
}

@font-face {
  font-family: 'Bangers';
  src: url('../_fonts/Bangers.ttf') format('truetype');
}

@font-face {
  font-family: 'CherryCreamSoda';
  src: url('../_fonts/CherryCreamSoda.ttf') format('truetype');
}

@font-face {
  font-family: 'Meddon';
  src: url('../_fonts/Meddon.ttf') format('truetype');
}

@font-face {
  font-family: 'NovaMono';
  src: url('../_fonts/NovaMono.ttf') format('truetype');
}

@font-face {
  font-family: 'CodystarRegular';
  src: url('../_fonts/Codystar-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AlexBrushRegular';
  src: url('../_fonts/AlexBrush-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayBold';
  src: url('../_fonts/Play-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayRegular';
  src: url('../_fonts/Play-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ShojumaruRegular';
  src: url('../_fonts/Shojumaru-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SigmarOne';
  src: url('../_fonts/SigmarOne.ttf') format('truetype');
}

@font-face {
  font-family: 'Aclonica';
  src: url('../_fonts/Aclonica.ttf') format('truetype');
}


body{
	background: #191919;
}

.row{
	max-width: 100.0rem;
}

.column, .columns {
    padding-left: 0rem;
    padding-right: 0rem;
}


.main-image{
	max-height: 1123px;
	overflow: hidden;
	
	height: 0;

	background: none;/*
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;*/
	padding: 0% 0% 30%;
}

.screeninfo{
	margin-bottom: 0;
}

.solid-bar{
		user-select: none;  
		background: #FFF056;
		cursor: pointer;
    transition:all .2s ease-in;
		h1{
			color: #191919;
			margin-left: 15px;
			font-family: 'IndieFlower', cursive;
			font-weight: bold;
			transform:translateX(0px);
			transition:all .2s ease-in;
		}
}

.solid-bar:hover h1{
	user-select: none;  
	transform:translateX(30px);
	transition:all .2s ease-in;
}


